<%- include ('./partials/head.ejs')%>
<link rel="stylesheet" href="/css/register.css">
<link rel="stylesheet" href="/css/profile.css">

<title>Actualiza tus datos</title>

<%- include('partials/header')%>
<main>

    <main class="main-form">
        <form   method="POST" action="/users/edit/<%=userToEdit.id %>?_method=PATCH" class="create-form">

            <div class="control-formulario">
                <h4>Completa los datos de inscripción:</h4>
            </div>
            <div class="control-formulario">
                <label for="nombre" class="input-label"> Nombre y apellido
                    <input type="text" name="nombre" id="nombre"
                        class="form-control <%= locals.errors && errors.nombre ? 'is-invalid' : null %>"
                        value="<%= userToEdit.nombre%>">
                    <% if (locals.errors && errors.nombre) { %>
                    <div class="text-danger">
                        <%= errors.nombre.msg %>
                    </div>
                    <% } %>
                </label>
            </div>

            <div class="control-formulario">
                <label for="nick" class="input-label"> Alias o Nick
                    <input type="text" name="nick" id="nick"
                        class="form-control <%= locals.errors && errors.nick ? 'is-invalid' : null %>"
                        value="<%= userToEdit.nick %>">
                    <% if (locals.errors && errors.nick) { %>
                    <div class="text-danger">
                        <%= errors.nick.msg %>
                    </div>
                    <% } %>
                </label>
            </div>

            <div class="control-formulario">
                <label for="country" class="input-label"> País
                    <input type="text" name="country" id="country"
                        class="form-control <%= locals.errors && errors.country ? 'is-invalid' : null %>"
                        value="<%= userToEdit.country %>">
                    <% if (locals.errors && errors.country) { %>
                    <div class="text-danger">
                        <%= errors.country.msg %>
                    </div>
                    <% } %>
                </label>
            </div>
            
              
                <br>
                <br>
                <div class="control-formulario">
                    <button type="submit" class="button-form" id="button-submit">Enviar</button>
                </div>

        </form>
    </main>

    <%- include('partials/footer')%>
    <%-include('./partials/script-bootstrap')%>

    </body>

    </html>