<%- include ('./partials/head.ejs')%>
<link rel="stylesheet" href="/css/register.css">
<link rel="stylesheet" href="/css/profile.css">

<title>Actualiza tu contrase単a</title>

<%- include('partials/header')%>
<main>

    <main class="main-form">
        <form method="POST" action="/users/edit2/<%= userToEdit.id %>?_method=PATCH" class="create-form">

            <div class="control-formulario">
                <h4>Ingresa tu nueva contrase単a:</h4>
            </div>

            <div class="control-formulario">
                <label for="password" class="input-label"> Contrase単a
                    <input type="password" name="password" id="password"
                        class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>">
                    <% if (locals.errors && errors.password) { %>
                    <div class="text-danger">
                        <%= errors.password.msg %>
                    </div>
                    <% } %>
                </label>
                <label for="rePassword" class="input-label"> Reingresa tu contrase単a
                    <input type="password" name="rePassword" id="rePassword"
                        class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>">
                    <% if (locals.errors && errors.password) { %>
                    <div class="text-danger">
                        <%= errors.password.msg %>
                    </div>
                    <% } %>
                </label>
                <br>
                <br>
                <div class="control-formulario">
                    <button type="submit" class="button-form" id="button-submit">Enviar</button>
                </div>

        </form>
    </main>

    <%- include('partials/footer')%>
    <%-include('./partials/script-bootstrap')%>

    </body>

    </html>