<link rel="stylesheet" href="/css/register.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/editProduct.css">
<link rel="stylesheet" href="/css/create-product.css">


<title>Editar producto</title>

<%-include('./partials/head') %>

<%- include('./partials/header')%>


<main class="main-form" id="edit">

    <form action="/products/editProduct/<%= productToEdit.id %>?_method=PATCH" method="POST" class="create-form"
        id="form-update-product" enctype="multipart/form-data">

        <div class="control-formulario">
            <h4>Modifica el producto:</h4>
        </div>
        <h4 class="titulo"> </h4>
        <ul class="errores"></ul>

        <div class="control-formulario">
            <label for="nombre" class="input-label"> Nombre:
                <input type="text" name="nombre" id="nombre"
                    class="form-control <%= locals.errors && errors.nombre ? 'is-invalid' : null %>"
                    value="<%= locals.oldData ? oldData.nombre : productToEdit.nombre %>">
                <p id="errorNombre" class="mensaje-error ocultar"></p>
                <% if (locals.errors && errors.nombre) { %>
                <div class="text-danger">
                    <%= errors.nombre.msg %>
                </div>
                <% } %>
            </label>
        </div>
        <div class="control-formulario">
            <label for="descripcion" class="input-label"> Descripción:
                <input type="text" name="descripcion" id="descripcion"
                    class="form-control <%= locals.errors && errors.descripcion ? 'is-invalid' : null %>"
                    value="<%= locals.oldData ? oldData.descripcion : productToEdit.descripcion %>">
                <p id="errorDescripcion" class="mensaje-error ocultar"></p>
                <% if (locals.errors && errors.descripcion) { %>
                <div class="text-danger">
                    <%= errors.descripcion.msg %>
                </div>
                <% } %>
            </label>
        </div>

        <div class="control-formulario">
            <label for="marca" class="input-label"> Marca:
                <input type="text" name="marca" id="marca"
                    class="form-control <%= locals.errors && errors.marca ? 'is-invalid' : null %>"
                    value="<%= locals.oldData ? oldData.marca : productToEdit.marca %>">
                <p id="errorMarca" class="mensaje-error ocultar"></p>
                <% if (locals.errors && errors.marca) { %>
                <div class="text-danger">
                    <%= errors.marca.msg %>
                </div>
                <% } %>
            </label>
        </div>

        <div class="control-formulario">
            <label for="precio" class="input-label"> Precio:
                <input type="number" name="precio" id="precio"
                    class="form-control <%= locals.errors && errors.precio ? 'is-invalid' : null %>"
                    value="<%= locals.oldData ? oldData.precio : productToEdit.precio %>">
                <p id="errorPrecio" class="mensaje-error ocultar"></p>
                <% if (locals.errors && errors.precio) { %>
                <div class="text-danger">
                    <%= errors.precio.msg %>
                </div>
                <% } %>
            </label>
        </div>

        <div class="control-formulario">
            <label for="stock" class="input-label"> Stock:
                <input type="stock" name="stock" id="stock"
                    class="form-control <%= locals.errors && errors.stock ? 'is-invalid' : null %>"
                    value="<%= locals.oldData ? oldData.stock : productToEdit.stock %>">
                <p id="errorStock" class="mensaje-error ocultar"></p>
                <% if (locals.errors && errors.stock) { %>
                <div class="text-danger">
                    <%= errors.stock.msg %>
                </div>
                <% } %>
            </label>
        </div>


        <div class="control-formulario">
            <label for="color" class="input-label"> Color
                <select id="color" name='color'
                    class='form-select spacing <%= locals.errors && errors.color ? 'is-invalid' : null  %> '>
                    <option value=''>Selecciona un color</option>
                    <% let colores = ["Blanco", "Negro", "Gris Oscuro", "Gris claro", "Plata", "Acero", "Azul", "Verde", "Rojo", "Naranja", "Amarillo", "Rosado", "Violeta", "Marrón", "Celeste", "Otros"] %>
                    <% for( const oneColor of colores ) { %>
                    <option value='<%= oneColor %>'
                        <%= locals.oldData && (oneColor == oldData.color) ? 'selected' : productToEdit.color %>>
                        <%= oneColor  %> </option>
                    <% } %>
                </select>
                <p id="errorColor" class="mensaje-error ocultar"></p>
                <% if (locals.errors && errors.color) { %>
                <div class="text-danger">
                    <%= errors.color.msg %>
                </div>
                <% } %>
            </label>
        </div>



        <div class="control-formulario">
            <h4>Promoción:</h4>
            <div class="padre-control">
                <div class="hijo-control">
                    <select id="descuento" name="descuento"
                        class="form-select <%= locals.errors && errors.descuento ? 'is-invalid' : null %>">
                        <option value=''>Elegí una opción</option>
                        <%  let opciones = [0, 5, 10, 15, 20, 25, 30, 35, 40]; %>
                        <% for (const oneOp of opciones) { %>
                        <option value='<%= oneOp %>'
                            <%= locals.oldData && (oneOp === oldData.descuento) ? 'selected' : null %>>
                            <%= oneOp %> </option>
                        <% } %>
                    </select>
                    <p id="errorDescuento" class="mensaje-error ocultar"></p>
                    <% if (locals.errors && errors.descuento) { %>
                    <div class="text-danger">
                        <%= errors.descuento.msg %>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>


        <div class="control-formulario">
            <label for="categoria_id" class="input-label"> Categoría
                <select id="categoria_id" name='categoria_id'
                    class='form-select spacing <%= locals.errors && errors.categoria_id ? 'is-invalid' : null  %> '>
                    <option value=''>Selecciona una categoría</option>
                    <% let categorias = ['Herramientas', "Cementos/Cal", "Aberturas", "Hierros/Chapas", "Ladrillos", "Agua/Gas", "Instalaciones", "Pinturas", "Otros" ] %>
                    <% for( let i = 0; i < categorias.length; i++ ) {  %>
                    <option value='<%= i + 1 %>'
                        <%= locals.oldData && (categorias == oldData.categoria_id) ? 'selected' : null %>>
                        <%= categorias[i] %> </option>
                    <% } %>
                </select>
                <p id="errorCategoria" class="mensaje-error ocultar"></p>
                <% if (locals.errors && errors.categoria_id) { %>
                <div class="text-danger">
                    <%= errors.categoria_id.msg %>
                </div>
                <% } %>
            </label>
        </div>



        <div class="control-formulario">
            <h4 class="image-h4">Selecciona una imagen para el producto:</h4>
            <label for="image-product" class="label-image-product">
                <input accept=".png, .jpeg, .jpg, .gif"  type="file" name="imagen" id="image-product"
                    class="form-control <%= locals.errors && errors.imagen ? 'is-invalid' : null %>">
                <% if (locals.errors && errors.imagen) { %>
                <div class="text-danger">
                    <%= errors.imagen.msg %>
                </div>
                <% } %>>
            </label>
            <p id="errorImage" class="mensaje-error ocultar"></p>
        </div>


        <br>
        <div class="control-formulario">
            <button type="reset" class="button-form">Limpiar</button>
            <button type="submit" class="button-form"> Guardar producto </button>
        </div>
    </form>
</main>


<%- include('partials/footer')%>

<%-include('./partials/script-bootstrap.ejs') %>
<script src="/js/UpdateProducts.js"></script>

</body>

</html>