<%- include ('./partials/head.ejs')%>

<title>Buildreams</title>

<%- include('partials/header')%>
<main>
    <%-include('./partials/carrusel-menu.ejs')%>


   
    <section class="lista-productos">
        <br>
        <h4 class="titulares">¡Aprovechá las ofertas de fin de año!</h4>

        <div class="contenedor-articulos">



            <% products.forEach(product => { %>
            <% if (product.enOferta == 1) { %>
            <article class="articulos">
                <a href="/products/productDetail/<%= product.id %>"><img class="imagen-producto" src="./images/products/<%= product.imagen%>" alt="imagen del producto"></a>
                <div class="contenedor">
                    <p class="agregar"><i class="fa-solid fa-basket-shopping" id="icon-canasta"></i></p>
                    <i class="fa-solid fa-truck-fast" style="color: #b3640b;" id="icon-truck"></i>
                    <p class="precios">$ <%=product.precio %></p>
                    <p class="precios" id="off"><%=product.descuento %>% off !!! </p>
                    <h4 class="nombre"><%= product.nombre  %></h4>
                    <p class="descripcion"><%= product.marca %> </p>
                    <p class="descripcion"><%= product.category.nombre %> </p>
                </div>
            </article>
            <% } %>
            <% }) %>

    </section>

    <h5 class="subtitulo">Haciendo click acá encontrás más de nuestras ofertas </h5>

</main>

<%- include('partials/footer')%>

<%-include('./partials/script-bootstrap')%>

</body>

</html>