<%- include('partials/head')%>

<link rel="stylesheet" href="/css/login.css">
<title>LogIn</title>


<%- include('partials/header')%>

<main>

    <h1>Acceso de Clientes</h1>

    <section>

        <div class="login">

            <div class="bloque">
                <h4 class="titulosinicio">Clientes Registrados</h4>
                
                <p>Si tiene una cuenta, inicie sesion con su e-mail y contraseña</p>

                <div class="errores">
                    <ul></ul>
                </div>



                <form action="/users/login" method="POST">

                    <label for="email" class="input-label"> Email
                        <input type="email" name="email" id="e-mail"
                            class="form-control"
                            value="<%= locals.oldData ? oldData.email : null %>">
                        <% if (locals.errors && errors.email) { %>
                        <div class="text-danger">
                            <%= errors.email.msg %>
                        </div>
                        <% } %>
                    </label>

                    <label for="password" class="input-label"> Contraseña
                        <input type="password" name="password" id="password" class="form-control">
                        <% if (locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg %>
                        </div>
                        <% } %>
                    </label>

                    <label for="remember" class="form-label">Recordar mis datos</label>
                    <input class="form-input" type="checkbox" name="remember" id="remember">

                    <button class="submit" class="button-form" id="button-submit">Enviar</button>







                    <!-- <label for="email" class="form-label" name="email" id="email"
                    </label>Email</label>
                    <input type="text" name="email" id="email" class="form-control">
                    <% if(locals.errors && errors.email) { %>
                        <p class="text-danger"><%= errors.email %> </p>
                        <% } %>

                    <label for="password" class="form-label">Contraseña</label>
                    <input class="form-input" type="password" name="password" id="password">

                    <label for="remember" class="form-label">Recordar mis datos</label>
                    <input class="form-input" type="checkbox" name="remember" id="remember">
                    <button class="submit" class="button-form" id="button-submit">Enviar</button> -->

                </form>
                <div class="nuevacuenta">
                    <a href="#">¿Olvidaste tu contraseña?</a>
                </div>

            </div>

        </div>
    </section>

</main>

<%- include('partials/footer')%>
<%-include('partials/script-bootstrap')%>

</body>

</html>