<%- include('partials/head')%>

<link rel="stylesheet" href="/css/login.css">
<title>LogIn</title>


<%- include('partials/header')%>

<main>

    <h1>Acceso de Clientes</h1>

    <section>

        <div class="login">

            <div class="bloque">
                <h4 class="titulosinicio">Clientes Registrados</h4>

                <p>Si tiene una cuenta, inicie sesion con su e-mail y contrase単a</p>

                <form action="/users/login" method="POST">

                    <label for="email" class="form-label" name="email" id="email" class="<%=locals.errors && errors.email ? 'is-danger' : '' %> " value="<%= locals.old && old.email %>"></label>Email</label>
                    <% if(locals.errors && errors.email) { %>
                        <p class="feedback is-danger"><%= errors.email %> </p>
                    <% } %> 
                    <input type="text" name="email" id="email" class="form-control">

                    <label for="password" class="form-label">Contrase単a</label>
                    <input class="form-input" type="password" name="password" id="password">

                    <label for="remember" class="form-label">Recordar mis datos</label>
                    <input class="form-input" type="checkbox" name="remember" id="remember">
                    <button class="submit" class="button-form" id="button-submit">Enviar</button>

                </form>
                <div class="nuevacuenta">
                    <a href="#">多Olvidaste tu contrase単a?</a>
                </div>

            </div>

        </div>
    </section>

</main>

<%- include('partials/footer')%>
<%-include('partials/script-bootstrap')%>

</body>

</html>