<%- include ('./partials/head.ejs')%>
<link rel="stylesheet" href="/css/productDetail.css">
<link rel="stylesheet" href="/css/register.css">
<link rel="stylesheet" href="/css/productCart.css">

<title>Detalle del producto</title>

<%- include('partials/header')%>
<main>



<section>

    <div class="pagina">

        <div class="ruta">Home/Construccion/Cementos</div>

        <div class="producto">

            <p class="nombre"><%= product.nombre %></p>

            <img src="/images/products/<%= product.imagen %>" class="iamagenprincipal" alt="imagen producto">

            <div class="descripciondetalle">


                <p class="caracteristicas"><%= product.descripcion%></p>

                <div class="valor">
                    <p class="precio"><%=product.precio %></p>
                    <p class="preciotxt">C/U</p>
                </div>


                <div class="finalizador">
                    <p>+ cantidad -</p>

                    <button>agregar al carrito</button>
                    <a href="/products/productCart"><i class="fa fa-heart fa-2x"></i></a>

                    <form method="POST" action="/products/delete/<%= product.id %>?_method=DELETE">
                    <button class="boton-eliminar-producto" type="submit">Eliminar producto</button></a>
                    </form>
                    
                    <a href="/products/editProduct/<%= product.id %>">  
                    <button class="boton-modificar-producto" type="button">Modificar producto</button></a>
                </div>

            </div>

        </div>



        
        <% products.forEach(product => { %>
        <div class="recomendado">

            <p>También podría interesarte...</p>

            <div class="miniproduto">
                

                    <a href="/products/productDetail/<%= product.id %>"> <img src="/images/products/<%= product.imagen %>" class="imagen-detail2"> </a>

                <div class="nombreprecio">
                    <p><%= product.nombre %></p>
                    <div>
                        </p>
                        <p>$<%= product.precio%></p>
                        <p>C/U</p>
                    </div>
                </div>
            </div>


        </div>
        <% }) %>
    </div>

</section>

</main>
<%- include('partials/footer')%>

</body>

</html>