<%- include ('./partials/head.ejs')%>
<link rel="stylesheet" href="/css/productDetail.css">
<link rel="stylesheet" href="/css/register.css">
<link rel="stylesheet" href="/css/productCart.css">

<title>Detalle del producto</title>

<%- include('partials/header')%>
<main>



<section>

    <div class="pagina">

        <div class="ruta"> Detalle del producto </div>

        <div class="producto">

            <p class="nombre"><%= product.nombre %></p>

            <img src="/images/products/<%= product.imagen %>" class="iamagenprincipal" alt="imagen producto">

            <div class="descripciondetalle">


                <p class="caracteristicas"><%= product.descripcion%></p>

                <div class="valor">
                    <p class="precio"><%=product.precio %></p>
                    <p class="preciotxt">C/U</p>
                </div>


                <div class="finalizador">
                    <p>+ cantidad -</p>

                    <button>agregar al carrito</button>
                    <a href="/products/productCart"><i class="fa fa-heart fa-2x"></i></a>
                    <% if (locals.isLogged) { %>
                    <form method="POST" action="/products/delete/<%= product.id %>?_method=DELETE">
                    <button class="boton-eliminar-producto" type="submit">Eliminar producto</button></a>
                    </form>
                    
                    <a href="/products/editProduct/<%= product.id %>">  
                    <button class="boton-modificar-producto" type="button">Modificar producto</button></a>
                    <% } %>
                </div>

            </div>

        </div>

</section>

</main>
<%- include('partials/footer')%>

</body>

</html>