<%- include ('./partials/head.ejs')%>

<title>Productos</title>

<%- include('partials/header')%>
<main>
    <%-include('./partials/carrusel-menu.ejs')%>



    <section class="lista-productos">

        <h4 class="titulares">En BUILDREAMS encontrás los mejores productos</h4>

        <div class="contenedor-articulos">
            <% products.forEach(product => { %>
            <article class="articulos">
                <a href="/products/productDetail/<%= product.id %>"><img class="imagen-producto"
                        src="/images/products/<%= product.imagen%>" alt="imagen del producto"></a>
                <div class="contenedor">
                    <p class="agregar"><i class="fa-solid fa-basket-shopping" id="icon-canasta"></i></p>
                    <i class="fa-solid fa-truck-fast" style="color: #b3640b;" id="icon-truck"></i>
                    <p class="precios"><%=product.precio %> </p>
                    <h4 class="nombre"><%= product.nombre  %> </h4>
                    <p class="descripcion"><%= product.marca %> </p>
                </div>
            </article>
            <% }) %>

    </section>


</main>

<%- include('partials/footer')%>

<%-include('./partials/script-bootstrap')%>

</body>

</html>