<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>


        <%- include('partials/mainheader')%> 

        <%- include('partials/mainnavbar')%> 



    <main>

        <section>

            <div class="pagina">

                <div class="ruta">Home/Construccion/Cementos</div>

                <div class="producto">

                    <p class="nombre"><%= producto.nombre %></p>

                    <img src="/images/<%= producto.imagen %>" class="iamagenprincipal" alt="imagen producto">

                    <div class="descripciondetalle">


                        <p class="caracteristicas"><%= producto.descripcion%></p>
                        
                        <div class="valor">
                            <p class="precio"><%=producto.precio %></p>
                            <p class="preciotxt">C/U</p>
                        </div>

                        <div class="finalizador">
                            <p>+ cantidad -</p>
                            <button>agregar al carrito</button>
                            <a href="favorito"><i class="fa fa-heart fa-2x"></i></a>
                        </div>

                    </div>

                </div>
                <% productos.forEach(producto => { %>
                <div class="recomendado">

                    <p>tambien podria interesarte...</p>

                    <div class="miniproduto">
                        
                            <img src="/images/<%= producto.imagen %>">

                            <div class="nombreprecio">
                                <p><%= producto.nombre %></p>
                                <div>
                                    </p>
                                    <p>$<%= producto.precio%></p>
                                    <p>C/U</p>
                                </div>
                            </div>
                        </div>
                        

                </div>
                <% }) %>
            </div>

        </section>

    </main>
    
    <%- include('partials/footer')%> 

</body>

</html>