<%- include ('./partials/head.ejs')%>
<link rel="stylesheet" href="/css/productDetail.css">
<link rel="stylesheet" href="/css/register.css">
<link rel="stylesheet" href="/css/productCart.css">
<link rel="stylesheet" href="/css/profile.css">

<title>Detalle del producto</title>

<%- include('partials/header')%>
<main>



<section>

        
        <% users.forEach(user => { %>
        <div class="recomendado">

            <p>Tú perfil</p>

            <div class="miniproduto">
                

                    <a href="/products/productDetail/<%= user.id %>"> <img src="/images/avatars/<%= user.image %>" class="imagen-detail2"> </a>

                <div class="nombreprecio">
                    <p><%= user.nick%> </p>
                    <div>
                        </p>
                        <p>PAÍS: <%= user.country%></p>
                        <p>NOMBRE: <%= user.nombre %></p>
                        <p>CORREO: <%= user.email%></p>
                       
                    </div>
                </div>
            </div>
            <% if (user.id == userLogged.id) { %>
                <div class="desplegable">
                    <a href="/users/edit/<%= user.id %>"<button  class="boton-edit">Modificar Perfil </button> </a> 
               </div>
             
            <% } %>
            


        </div>
        <% }) %>

</section>

</main>
<%- include('partials/footer')%>

</body>

</html>